
.Tabs{
    display: flex;
    margin-top: 2rem;
    background-color: rgb(235, 235, 235);
      
}
.MuiBox-root{
    text-align: center;
    margin-top: 3%;
    
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    box-shadow: 0 0 4px rgb(0 0 0 / 25%) !important;
  }
  .tss-58la38-MUIDataTable-paper{
      min-width: 40rem;
  }